<div layout-fill layout="column" flex>
  <div layout="row" layout-margin layout-align="center start">
    <md-subheader class="md-primary" ng-if="vm.products">
      {{vm.products.length || 'No'}}
      <span ng-if="vm.products.length == 1">Product</span><span
      ng-if="vm.products.length != 1">Products</span>
    </md-subheader>
    <md-subheader ng-if="!vm.products">Loading...</md-subheader>
    <span flex></span>
    <md-button ui-sref="products.add" class="md-raised md-primary">
      <md-icon md-font-icon="fa-plus-square-o" class="fa"></md-icon>
      <span class="hide-xs">Add Product</span>
      <md-icon md-font-icon="fa-plus" class="fa hide-gt-xs"></md-icon>
    </md-button>
  </div>


  <div flex layout="column" layout-align="center center"
       ng-if="vm.products.length == 0">

    <h3>You have no products</h3>
    <md-button ui-sref="products.add" class="md-raised md-primary">
      <span class="hide-xs">Click here to add products</span>
    </md-button>
  </div>

  <div flex layout="column" layout-align="center center"
       ng-if="!vm.products">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <md-table-container flex ng-if="vm.products && vm.products.length > 0">
    <table md-table multiple ng-model="vm.selected"
           md-progress="promise">
      <thead md-head>
      <tr md-row>
        <th md-column>Name</th>
        <th md-column>Amount</th>
      </tr>
      </thead>
      <tbody md-body>
      <tr md-row md-select="product" md-select-id="name" md-auto-select
          ng-repeat="product in vm.products">
        <td md-cell>{{product.name}}
        <td md-cell>{{product.amount}}
      </tr>
      </tbody>
    </table>
  </md-table-container>
</div>
