<div layout-fill layout="column" flex>
  <div layout="row" layout-margin layout-align="center start">
    <md-subheader class="md-primary" ng-if="vm.orders">
      {{vm.orders.length || 'No'}}
      <span ng-if="vm.orders.length == 1">Order</span><span
      ng-if="vm.orders.length != 1">Orders</span>
    </md-subheader>
    <md-subheader ng-if="!vm.orders">Loading...</md-subheader>
    <span flex></span>
    <md-button ui-sref="orders.add" class="md-raised md-primary">
      <md-icon md-font-icon="fa-plus-square-o" class="fa"></md-icon>
      <span class="hide-xs">Add Order</span>
      <md-icon md-font-icon="fa-plus" class="fa hide-gt-xs"></md-icon>
    </md-button>
  </div>


  <div flex layout="column" layout-align="center center"
       ng-if="vm.orders.length == 0">
    <h3>You have no orders</h3>
    <md-button ui-sref="orders.add" class="md-raised md-primary">
      <span class="hide-xs">Click here to add orders</span>
    </md-button>
  </div>

  <div flex layout="column" layout-align="center center"
       ng-if="!vm.orders">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <md-table-container flex ng-if="vm.orders && vm.orders.length > 0">
    <table md-table multiple ng-model="vm.selected"
           md-progress="promise">
      <thead md-head>
      <tr md-row>
        <th md-column>Table</th>
        <th md-column>Status</th>
      </tr>
      </thead>
      <tbody md-body>
      <tr md-row md-select="order" md-select-id="name" md-auto-select
          ng-repeat="order in vm.orders">
        <td md-cell>{{order.table.name}}
        <td md-cell>{{order.status}}
      </tr>
      </tbody>
    </table>
  </md-table-container>
</div>
