<div layout-fill layout-padding layout="column" flex>
  <div layout="column" flex>
    <div class="md-whiteframe-z1">
      <md-toolbar md-theme="monochrome" class="md-hue-1">
        <div class="md-toolbar-tools">
          <h2>
            <md-icon md-font-icon="fa-plus-square-o" class="fa"></md-icon>
            Add Table
          </h2>
          <span flex></span>
        </div>
      </md-toolbar>
      <div layout="column" layout-padding>
        <form ng-submit="vm.addTable()" name="addTableForm" layout="column"
              layout-gt-sm="row"
              layout-align-gt-sm="space-between start">
          <md-input-container flex class="md-block">
            <label>Name</label>
            <input ng-model="vm.name"
                   type="text" required
                   placeholder="Example: Table 1">
          </md-input-container>
          <md-button class="md-primary md-raised"
                     type="submit"
                     ng-disabled="!addTableForm.$valid">
            Create
          </md-button>
        </form>
      </div>
    </div>
  </div>
</div>
