@charset "UTF-8";

.ng-cloak,
.ng-hide:not(.ng-hide-animate),
.x-ng-cloak,
[data-ng-cloak],
[ng-cloak],
[x-ng-cloak] {
  display: none !important;
}

*:focus {
  outline: none;
}

.fullscreen {
  height: 100%;
  width: 100%;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.disable-text-selection {
  -webkit-touch-callout: none;
  user-select: none;
}

.text-center {
  text-align: center;
}

@import 'docs-menu';

md-sidenav {
  max-width: 256px;
  width: 256px;
}

.cards-container {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.card {
  background: #fff;
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all .5s ease-in-out;
  width: 100%;

  &.hidden {
    margin-left: 66%;
  }

  &.swiped {
    left: -100%;
  }

  &.left-limit-reached {
    &.first-card {
      left: 10%;
    }
  }

  &.right-limit-reached {
    &.last-card {
      left: -10%;
    }
  }
}

.change-priority {
  margin-left: -14px;

  .md-icon-button {
    height: 22px;
    padding: 0;
    width: 22px;
  }
}

.plus {
  display: inline-block;
  margin-top: -4px;

  &::before {
    content: '+';
  }
}

.auth-module {
  background-image: url('../images/blood-pressure-949092_1920.jpg');
  background-size: cover;
}
