.docs-menu,
.docs-menu ul {
  list-style: none;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
}

.docs-menu li {
  margin: 0;
}

.docs-menu {
  .md-toggle-icon {
    md-icon {
      min-width: inherit;
    }
  }
}

.docs-menu > li:nth-child(1) {
  border-top-style: none;
}

.md-whiteframe-glow-z1 {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .14),
  0 0 2px 2px rgba(0, 0, 0, .098),
  0 0 5px 1px rgba(0, 0, 0, .084);
}

.docs-menu > li {
  border-bottom: 1px solid #ccc;
}

.docs-menu .md-button {
  align-items: inherit;
  border-radius: 0;
  cursor: pointer;
  display: block;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

.docs-menu .md-button:hover,
.docs-menu .md-button:focus {
  background: #f9f9f9 !important;
  box-shadow: inset 3px 0 0 0 rgba(0, 0, 0, 0.9);
}

.docs-menu md-select {
  margin: 0;
  width: 100%;
}

.docs-menu md-select md-select-label {
  justify-content: flex-end;
  padding-top: 10px;
}

.docs-menu md-select md-select-label span {
  margin-right: auto;
  padding-left: 13px;
}

.docs-menu md-select .md-select-icon {
  margin-right: 28px;
}

.docs-menu button.md-button::-moz-focus-inner {
  padding: 0;
}

.docs-menu .md-button.active {
  background: #f9f9f9 !important;
  box-shadow: inset 3px 0 0 0 rgba(33, 150, 243, 0.9);
}

.menu-heading {
  display: block;
  line-height: 32px;
  margin: 0;
  padding: 8px 16px 0;
  text-align: left;
  width: 100%;
}

.menu-toggle-list {
  overflow: hidden;
  position: relative;
  transition: .75s cubic-bezier(.35, 0, .25, 1);
  transition-property: height;
  z-index: 1;
}

.docs-menu .menu-toggle-list a.md-button {
  display: block;
  font-weight: 500;
  padding: 0 16px 0 32px;
  text-rendering: optimizeLegibility;
  text-transform: none;
}

.parent-list-item:last-child {
  border-bottom-style: none;
  margin-bottom: 20px;
}

.md-button-toggle .md-toggle-icon {
  display: block;
  margin-left: auto;
  speak: none;
  transform: rotate(180deg);
  transition: transform .3s ease-in-out;
  vertical-align: middle;
}

.md-button-toggle .md-toggle-icon.toggled {
  transform: rotate(0deg);
}
