<div layout-fill layout="column" flex>
  <div layout="row" layout-margin layout-align="center start">
    <md-subheader class="md-primary" ng-if="vm.tables">
      {{vm.tables.length || 'No'}}
      <span ng-if="vm.tables.length == 1">Table</span><span
      ng-if="vm.tables.length != 1">Tables</span>
    </md-subheader>
    <md-subheader ng-if="!vm.tables">Loading...</md-subheader>
    <span flex></span>
    <md-button ui-sref="tables.add" class="md-raised md-primary">
      <md-icon md-font-icon="fa-plus-square-o" class="fa"></md-icon>
      <span class="hide-xs">Add Table</span>
      <md-icon md-font-icon="fa-plus" class="fa hide-gt-xs"></md-icon>
    </md-button>
  </div>


  <div flex layout="column" layout-align="center center"
       ng-if="vm.tables.length == 0">

    <h3>You have no tables</h3>
    <md-button ui-sref="tables.add" class="md-raised md-primary">
      <span class="hide-xs">Click here to add tables</span>
    </md-button>
  </div>

  <div flex layout="column" layout-align="center center"
       ng-if="!vm.tables">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <md-table-container flex ng-if="vm.tables && vm.tables.length > 0">
    <table md-table multiple ng-model="vm.selected"
           md-progress="promise">
      <thead md-head>
      <tr md-row>
        <th md-column>Name</th>
        <th md-column>User</th>
      </tr>
      </thead>
      <tbody md-body>
      <tr md-row md-select="table" md-select-id="name" md-auto-select
          ng-repeat="table in vm.tables">
        <td md-cell ng-click="vm.editTable(table, $event)">{{table.name}}</td>
        <td md-cell>{{table.user.username}}</td>
      </tr>
      </tbody>
    </table>
  </md-table-container>
</div>
