<md-button ng-class="{'active' : isSelected()}" ui-sref="{{section.state}}"
           ng-click="focusSection()">
  <md-icon md-font-icon="{{section.icon}}" class="fa"></md-icon>
  {{section | humanizeDoc}}
  <span class="md-visually-hidden" ng-if="isSelected()">current page</span>
</md-button>
