<md-button class="md-button-toggle" ng-click="toggle()"
           aria-controls="docs-menu-{{section.name | nospace}}"
           aria-expanded="{{isOpen()}}">
  <div flex layout="row">
    <md-icon md-font-icon="{{section.icon}}" class="fa"></md-icon>
    {{section.name}}
    <span flex></span>
    <span aria-hidden="true" class="md-toggle-icon"
          ng-class="{'toggled' : isOpen()}">
      <md-icon md-font-icon="fa-chevron-up" class="fa"></md-icon>
    </span>
  </div>
  <span class="md-visually-hidden">
    Toggle {{isOpen()? 'expanded' : 'collapsed'}}
  </span>
</md-button>

<ul id="docs-menu-{{section.name | nospace}}" class="menu-toggle-list">
  <li ng-repeat="page in section.pages">
    <menu-link section="page" ng-if="isState(page.state)"></menu-link>
  </li>
</ul>
