<div layout-fill layout-padding layout="column" flex>
  <div layout="column" flex>
    <div class="md-whiteframe-z1">
      <md-toolbar md-theme="monochrome" class="md-hue-1">
        <div class="md-toolbar-tools">
          <h2>
            <md-icon md-font-icon="fa-plus-square-o" class="fa"></md-icon>
            Add Order
          </h2>
          <span flex></span>
        </div>
      </md-toolbar>
      <div layout="column" layout-padding>
        <form ng-submit="vm.addOrder()" name="addOrderForm" layout="column"
              layout-gt-sm="row"
              layout-align-gt-sm="space-between start">
          <md-input-container flex>
            <label>Select Table</label>
            <md-select ng-model="vm.table" required>
              <md-option ng-repeat="table in vm.tables"
                         ng-value="table.id">
                {{ table.name }}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container flex>
            <label>Select product</label>
            <md-select ng-model="vm.product" required multiple>
              <md-option ng-repeat="product in vm.products"
                         ng-value="product.id">
                {{ product.name }} - {{ product.amount }}
              </md-option>
            </md-select>
          </md-input-container>
          <md-button class="md-primary md-raised"
                     type="submit"
                     ng-disabled="!addOrderForm.$valid">
            Create
          </md-button>
        </form>
      </div>
    </div>
  </div>
</div>
