<div layout-fill layout="column" flex>
  <div layout="row" layout-margin layout-align="center start">
    <md-subheader class="md-primary" ng-if="vm.users">
      {{vm.users.length || 'No'}}
      <span ng-if="vm.users.length == 1">User</span><span
      ng-if="vm.users.length != 1">Users</span>
    </md-subheader>
    <md-subheader ng-if="!vm.users">Loading...</md-subheader>
    <span flex></span>
    <md-button ui-sref="users.add" class="md-raised md-primary">
      <md-icon md-font-icon="fa-user-plus" class="fa"></md-icon>
      <span class="hide-xs">Add User</span>
      <md-icon md-font-icon="fa-plus" class="fa hide-gt-xs"></md-icon>
    </md-button>
  </div>


  <div flex layout="column" layout-align="center center"
       ng-if="vm.users.length == 0">

    <h3>You have no users</h3>
    <md-button ui-sref="users.add" class="md-raised md-primary">
      <span class="hide-xs">Click here to add users</span>
    </md-button>
  </div>

  <div flex layout="column" layout-align="center center"
       ng-if="!vm.users">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <md-table-container flex ng-if="vm.users && vm.users.length > 0">
    <table md-table multiple ng-model="vm.selected"
           md-progress="promise">
      <thead md-head>
      <tr md-row>
        <th md-column>Username</th>
        <th md-column>Name</th>
        <th md-column>Role</th>
      </tr>
      </thead>
      <tbody md-body>
      <tr md-row md-select="user" md-select-id="name" md-auto-select
          ng-repeat="user in vm.users">
        <td md-cell>{{user.username}}
        <td md-cell>{{user.fullName}}
        <td md-cell>{{user.role}}
      </tr>
      </tbody>
    </table>
  </md-table-container>
</div>
