<md-content flex layout="row" layout-align="center center" class="auth-module">
  <md-card flex="100" flex-gt-xs="50" flex-gt-sm="30">
    <md-toolbar class="md-primary">
      <div class="md-toolbar-tools" layout="row">
        <h1>Please Login</h1>
        <span flex></span>
        <!--<md-select ng-model="vm.language" aria-label="Language">-->
        <!--<md-option ng-value="'EN'">EN</md-option>-->
        <!--<md-option ng-value="'RU'">RU</md-option>-->
        <!--</md-select>-->
      </div>
    </md-toolbar>
    <md-card-content>
      <form ng-submit="vm.authenticate()" name="authForm">
        <md-input-container class="md-icon-float md-block">
          <label>Username</label>
          <md-icon md-font-icon="fa-user" class="fa"></md-icon>
          <input ng-model="vm.username" type="text" required name="username">
          <div ng-messages="authForm.username.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <label>Password</label>
          <md-icon md-font-icon="fa-lock" class="fa"></md-icon>
          <input ng-model="vm.password" type="password" required
                 name="password">
          <div ng-messages="authForm.password.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <div layout="row" layout-align="end center">
          <md-button type="submit" class="md-raised md-primary">Login
          </md-button>
        </div>
      </form>
    </md-card-content>
  </md-card>
</md-content>
