<md-dialog aria-label="Add Reservation" flex="80" flex-gt-sm="60">
  <div layout="column" layout-padding>
    <div class="md-whiteframe-z1 add-table">
      <md-toolbar md-theme="monochrome" class="md-hue-1">
        <div class="md-toolbar-tools">
          <h2>Edit Table</h2>
        </div>
      </md-toolbar>
      <div layout="column" layout-padding>
        <form ng-submit="vm.save()" layout="column"
              name="updateTable">
          <md-input-container class="md-block">
            <label>Select Waiter</label>
            <md-select ng-model="vm.table.user.id" required>
              <md-option ng-repeat="waiter in vm.waiters"
                         ng-value="waiter.id">
                {{waiter.username}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Table Name</label>
            <input type="text" ng-model="vm.table.name"
                   placeholder="Enter Name" ng-disabled="true">
          </md-input-container>
          <hr>
          <div layout="row">
            <span flex></span>
            <md-button class="md-primary md-raised"
                       type="submit"
                       ng-disabled="!updateTable.$valid">
              Save
            </md-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</md-dialog>
