<div class="md-toolbar-tools md-whiteframe-1dp">
  <md-button class="md-icon-button" aria-label="Menu" hide-gt-sm
             hm-tap="toolbar.toggleSidebar('sidebar')">
    <md-icon md-font-icon="fa-bars" class="fa"></md-icon>
  </md-button>
  <span flex></span>
  <div class="message-container" ui-sref="messages.inbox">
    <md-button class="md-icon-button" aria-label="Messages"
               ng-if="toolbar.isState('messages')">
      <md-icon class="fa" md-font-icon="fa-envelope-o fa-05x"></md-icon>
    </md-button>
    <span class="label hanging" ng-if="toolbar.profile.unread_messages != 0">{{toolbar.profile.unread_messages}}</span>
  </div>

  <md-menu md-offset="0 50">
    <md-button ng-click="$mdMenu.open()" class="md-primary md-raised md-hue-2">
      <div class="user-image-container">
        <div class="user-image"
             ng-style="{'background-image': 'url('+ toolbar.profile.image + ')'}"></div>
      </div>
      <div class="toolbar-profile-name">
        {{toolbar.profile.username}}
      </div>
      <!--<div class="toolbar-company-name ellipsis" ng-if="toolbar.profile.company">-->
      <!--{{toolbar.profile.company}}-->
      <!--</div>-->
    </md-button>
    <md-menu-content>
      <md-menu-item ng-if="toolbar.isState('profile')">
        <md-button ui-sref="profile">
          <md-icon md-font-icon="fa-user" class="fa"></md-icon>
          Profile
        </md-button>
      </md-menu-item>
      <md-menu-divider ng-if="toolbar.isState('profile')"></md-menu-divider>
      <md-menu-item>
        <md-button ng-click="toolbar.logout()" class="md-warn">
          <md-icon class="fa" md-font-icon="fa-sign-out"></md-icon>
          Logout
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>
