<div layout-fill layout-padding layout="column" flex>
  <div layout="column" flex>
    <div class="md-whiteframe-z1">
      <md-toolbar md-theme="monochrome" class="md-hue-1">
        <div class="md-toolbar-tools">
          <h2>
            <md-icon md-font-icon="fa-user-plus" class="fa"></md-icon>
            Add User
          </h2>
          <span flex></span>
        </div>
      </md-toolbar>
      <div layout="column" layout-padding>
        <form ng-submit="vm.addUser()" name="addUserForm" layout="column"
              layout-gt-sm="row"
              layout-align-gt-sm="space-between start">
          <md-input-container flex class="md-block">
            <label>Full Name</label>
            <input ng-model="vm.fullName"
                   type="text" required
                   placeholder="Example: John Smith">
          </md-input-container>
          <md-input-container flex class="md-block">
            <label>Username</label>
            <input ng-model="vm.username"
                   type="text" required
                   placeholder="Example: johnsmith">
          </md-input-container>
          <md-input-container flex class="md-block">
            <label>Password</label>
            <input ng-model="vm.password"
                   type="password" required
                   placeholder="123456">
          </md-input-container>
          <md-input-container flex>
            <label>Select Type</label>
            <md-select ng-model="vm.role" required>
              <md-option ng-repeat="role in vm.roles"
                         ng-value="role.value">
                {{ role.name }}
              </md-option>
            </md-select>
          </md-input-container>
          <md-button class="md-primary md-raised"
                     type="submit"
                     ng-disabled="!addUserForm.$valid">
            Create
          </md-button>
        </form>
      </div>
    </div>
  </div>
</div>
