<div layout="column" flex>
  <md-toolbar class="md-whiteframe-glow-z1" md-colors="::{backgroundColor:
              '{{main.THEME.toolbar.palette}}-{{main.THEME.toolbar.hue}}'}"
              md-scroll-shrink>
    <div class="md-toolbar-tools md-whiteframe-1dp" layout="row" flex>
      <span flex></span>
      <div class="sidebar-logo-container" ui-sref="home">
        <b>Cafe Management</b>
        <!--<img src="/public/images/manager/logo-white.png" alt="{{main.appName}}"-->
        <!--class="sidebar-logo">-->
      </div>
      <span flex></span>
    </div>
  </md-toolbar>
  <div flex role="navigation">
    <ul class="docs-menu">
      <li ng-repeat="section in sidebar.menu"
          class="parent-list-item {{section.className || ''}}"
          ng-class="{'parentActive' : isSectionSelected(section)}"
          ng-if="sidebar.isState(section.state) && sidebar.isAccessible(section)">

        <h2 class="menu-heading md-subhead" ng-if="section.type === 'heading'"
            id="heading_{{ section.name | nospace }}">{{section.name}}</h2>

        <menu-link ng-if="section.type === 'link' && !section.hidden"
                   section="section"></menu-link>

        <menu-toggle ng-if="section.type === 'toggle' && !section.hidden"
                     section="section"></menu-toggle>

        <ul ng-if="section.children" class="menu-nested-list">
          <li ng-repeat="child in section.children"
              ng-class="{'childActive' : isSectionSelected(child)}">
            <menu-link section="child"
                       ng-if="child.type === 'link'"></menu-link>

            <menu-toggle section="child"
                         ng-if="child.type === 'toggle'"></menu-toggle>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <span flex></span>
  <div class="sidebar-footer"></div>
</div>
