<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <title ng-bind="currentPage + ' &bull; ' + 'Cafe Management'">Cafe Management</title>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

  <!-- build:css -->
  <link rel="stylesheet" href="public/styles/temp/libraries.css">
  <link rel="stylesheet" href="public/styles/temp/application.css">
  <!-- endbuild -->

  <!-- build:js -->
  <script src="public/scripts/temp/libraries.js"></script>
  <script src="public/scripts/temp/templates.js"></script>
  <script src="public/scripts/temp/application.js"></script>
  <!-- endbuild -->

  <base href="/"/>

</head>
<body ng-cloak layout="row" ng-controller="MainController as main"
      ngsf-fullscreen>

<md-sidenav ng-if="!fullScreen" ng-include="'_sidebar/sidebar.html'"
            ng-controller="SidebarController as sidebar"
            class="md-sidenav-left" md-component-id="sidebar"
            md-is-locked-open="$mdMedia('gt-sm')"
            md-colors="::{backgroundColor:
            '{{main.THEME.sidebar.palette}}-{{main.THEME.sidebar.hue}}'}">
</md-sidenav>

<div layout="column" role="main" flex>
  <md-toolbar ng-if="!fullScreen" ng-include="'_toolbar/toolbar.html'"
              ng-controller="ToolbarController as toolbar"
              class="md-whiteframe-glow-z1"
              md-colors="::{backgroundColor:
              '{{main.THEME.toolbar.palette}}-{{main.THEME.toolbar.hue}}'}">
  </md-toolbar>

  <md-content ui-view layout="column" flex layout-fill></md-content>

  <footer ng-include="'_footer/footer.html'"
          ng-controller="FooterController as footer"></footer>
</div>

</body>
</html>
